@use './modules/game';
@use './modules/menu';
@use './modules/header';
@use './modules/fonts';

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik';
}

#main {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: auto;
}