.game__field {
  .game__cell {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .game__spot {
    background-color: bisque;
    border-radius: 50%;
    animation-fill-mode: forwards;
  }
  .game__hero {
    position: absolute;
    background-color: red;
  }
  .game__hero--dead {
    background-color: rgb(49, 44, 44);
  }
  .game__hero--win {
    background-color: rgb(9, 255, 0);
  }
}